Library*
Temp*
.vs*
obj*
Logs*
Assembly-CSharp.csproj
Driftworld.sln
driftworld.sln
.vsconfig
Assets/Scenes/SampleSceneSettings.lighting*
Assets/Scenes/WorkScene.unity*
Assets/Scenes/AScene.unity*
MemoryCaptures*
UserSettings*
