Library*
Temp*
.vs*
obj*
Logs*
Assembly-CSharp.csproj
Driftworld-tectonics.sln
driftworld-tectonics.sln
.vsconfig
Assets/Scenes/SampleSceneSettings.lighting*
Assets/Scenes/WorkScene.unity*
Assets/Scenes/AScene.unity*
MemoryCaptures*
UserSettings*
Doc/*.aux
Doc/*.log
Doc/*.synctex.gz
Doc/*.toc
Doc/*.out
Doc/*.lof
Doc/*.lot
Doc/resources/*~
Doc/resources/*autosave
save.dat
*.drdat
tex.png
